//
// Default file with all our variables
//

// Base font sizes and colors
$base-font-family:  Helvetica, Arial, sans-serif !default;
$base-font-size:    16px !default;
$base-line-height:  24px !default;
$base-font-color:   #001f3f !default;

// Element spacing and line-height ratio
$base-spacing-unit:  $base-line-height !default;
$half-spacing-unit:  $base-spacing-unit / 2 !default;
$line-height-ratio:  $base-line-height / $base-font-size;

//
// INCLUDES
//

// Utility
$use-normalize:  true !default;
$use-clearfix:   true !default;

// Helpers
$use-helpers:  true !default;
