//
// Default file with all our variables
//

// Base font sizes and colors
$base-font-family:  Helvetica, Arial, sans-serif !default;
$base-font-size:    16px !default;
$base-line-height:  24px !default;
$base-font-color:   #001f3f !default;

// Element spacing and line-height ratio
$base-spacing-unit:  $base-line-height !default;
$half-spacing-unit:  $base-spacing-unit / 2 !default;
$line-height-ratio:  $base-line-height / $base-font-size;

// Background colors
// @todo:     copy all colors in a .scss file with $use-colors
$bg-navy:     #001f3f !default;
$bg-blue:     #0074d9 !default;
$bg-aqua:     #7fdbff !default;
$bg-teal:     #39cccc !default;
$bg-olive:    #3d9970 !default;
$bg-green:    #2ecc40 !default;
$bg-lime:     #01ff70 !default;
$bg-yellow:   #ffdc00 !default;
$bg-orange:   #ff851b !default;
$bg-red:      #ff4136 !default;
$bg-fuchsia:  #f012be !default;
$bg-purple:   #b10dc9 !default;
$bg-maroon:   #85144b !default;
$bg-white:    #ffffff !default;
$bg-gray:     #aaaaaa !default;
$bg-silver:   #dddddd !default;
$bg-black:    #111111 !default;

// Font colors
// @todo:     copy all colors in a .scss file with $use-colors
$color-navy:     #001f3f !default;
$color-blue:     #0074d9 !default;
$color-aqua:     #7fdbff !default;
$color-teal:     #39cccc !default;
$color-olive:    #3d9970 !default;
$color-green:    #2ecc40 !default;
$color-lime:     #01ff70 !default;
$color-yellow:   #ffdc00 !default;
$color-orange:   #ff851b !default;
$color-red:      #ff4136 !default;
$color-fuchsia:  #f012be !default;
$color-purple:   #b10dc9 !default;
$color-maroon:   #85144b !default;
$color-white:    #ffffff !default;
$color-silver:   #dddddd !default;
$color-gray:     #aaaaaa !default;
$color-black:    #111111 !default;

// Selection colors
$selection-background:  #0074d9 !default;
$selection-color:       #ffffff !default;

//
// INCLUDES
//

// Utility
$use-normalize:  true !default;
$use-clearfix:   true !default;

// Helpers
$use-helpers:  true !default;